<app-header></app-header>
<div class="container-fluid mt-5" 
[ngStyle]="{
                background:'url(../assets/img/pexels-photo.jpeg)  no-repeat'
            }">
  <div class="container pt-5 ml-auto">
      <h1 class="pt-5 text-secondary"> VISA CHECKOUT      <i class="fa fa-credit-card fa-2x"></i></h1>
      <h3 class="pt-5 text-light ">Discover the easier way to pay online</h3>
      <button class="btn btn-outline-light mt-5" >Learn More <i class="fa fa-arrow-right"></i></button>
  </div>
</div>
